.header {
  text-align: center;
  font-size: 40px;
}

.cards-list {
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  display: flex;
  background-color: yellow;
  margin-left: 20px;
}

.cards {
  display: flex;
  width: 150px;
  height: 150px;
  background-color: tomato;
}

.cards img {
  width: 150px;
  height: 150px;
}
