* {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 96, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
.header {
  text-align: center;
  font-size: 40px;
}

.flippy-container {
  display: flex;
  width: fit-content;
  height: fit-content;
  padding-left: 20px;
}

.sideA {
  align-content: center;
  justify-content: center;
  text-align: center;
  display: flex;
  width: 50%;
  height: 50%;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.flippy {
  display: flex;
  width: 50%;
  height: 50%;
}
.sideB {
  align-content: center;
  justify-content: center;
  text-align: center;
  display: flex;
  width: 50%;
  height: 50%;

  flex-wrap: wrap;
  margin-top: 100px;
}

.Cards image {
  align-content: center;
  justify-content: center;
}

.sideB img, .sideA img{

  width: 100px;
  height: 200px;
}
