  /* *{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,96,1) 35%, rgba(0,212,255,1) 100%);
  } */
.header {
  text-align: center;
  font-size: 40px;
}



.flippy-container {
  display: flex;
  width: 50%;
  height: 50%;
}

.sideA{
  display: flex;
  width: 50%;
  height: 50%;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.sideA img{
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100px;
  height: 100px;
}
.flippy {
  display: flex;
  width: 50%;
  height: 50%;
}

.sideB{
  
  display: flex;
  width: 50%;
  height: 50%;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}